<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Rachel</h1></a>
    <p>A New website</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About Page</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>